.features {
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 32px;
    justify-content: center;
}

.card {
    min-height: 400px;
    width: 325px;
    background-color: var(--feature-background);
    border-radius: 30px;
    outline: 1px solid var(--docsearch-muted-color);
}

.card:hover {
    outline-width: 2px;
}

.center {
    text-align: center;
}

@media screen and (max-width: 741px) {
    .features {
        flex-direction: column;
        align-items: center;
        padding: 32px 0px;
    }

    .card {
        width: 80%;
        max-height: 400px;
        min-height: 0;
    }
}
