.header {
    display: flex;
    align-items: center;
    padding: 4rem 2rem;
    text-align: center;
    color: var(--docsearch-text-color);
    position: relative;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' fill='none'%3E%3Cpath stroke='%23000' stroke-opacity='.08' stroke-width='.5' d='M.25.25h47.5v47.5H.25z'/%3E%3C/svg%3E%0A");
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: 50px;
}

.mt {
    margin-top: 6px;
}

.button {
    display: flex;
    font-family: monospace;
    gap: 8px;
    place-items: center;
    border-radius: 4px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(31 41 55);
    background-color: #ececec;
    cursor: copy;
    user-select: none;
    border-width: 1px;
    padding: 0 24px;
}

.button:hover {
    border-width: 2px;
}

@media screen and (max-width: 830px) {
    .heading {
        font-size: 35px;
    }
}

@media screen and (max-width: 355px) {
    .heading {
        font-size: 25px;
    }
}
